.page-not-found {
  height: 700px;
  padding-top: 200px;
  .content-wrapper {
    text-align: center;
    color: var(--black-light);
    display: flex;
    flex-direction: column;
    .big-text {
      font-size: 150px;
      font-weight: 700;
    }
    .small-text {
      font-size: 44px;
    }
  }
}